{% extends 'base.twig' %}


{% block content %}



<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title">Blogs</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{{site.url}}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span>{{posts.name}}</span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">
            <!-- blog-section end -->
            <section class="ttm-row grid-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        {% for bl in blogs %}
                            
                                <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                                    <!-- featured-imagebox-post -->
                                    <div class="row no-gutters featured-imagebox featured-imagebox-post ttm-box-view-left-image box-shadow">
                                        <div class="col-lg-5 col-md-12 col-sm-6 ttm-featured-img-left">
                                            <div class="featured-thumbnail"> 
                                                <img class="img-fluid featured-image" src="{{TimberImage(bl.featured_image).src}}" alt="blog"> 
                                            </div> 
                                        </div>
                                        <div class="col-lg-7 col-md-12 col-sm-6 featured-content">
                                            {# <span class="category">
                                                <a href="portfolio-category.html">Business</a>
                                                <a href="portfolio-category.html">Consulting</a>
                                            </span> #}
                                            <div class="post-title featured-title">
                                                <h5><a href="{{bl.post_name}}">{{bl.post_title}}</a></h5>
                                            </div>
                                            <div class="featured-desc ttm-box-desc">
                                                <p>{{bl.content | truncate(20)}}</p>
                                            </div>
                                            <div class="post-meta">
                                                <span class="ttm-meta-line"><a href="{{bl.link}}">{{post_date}}</a></span>
                                            </div>
                                        </div>
                                    </div><!-- featured-imagebox-post end-->
                                </div>
                       {% endfor %}
                    </div><!-- row end -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="ttm-pagination">
                                <span class="page-numbers current">1</span>
                                <a class="page-numbers" href="#">2</a>
                                <a class="next page-numbers" href="#"><i class="ti ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- process-section end -->

        </div><!--site-main end-->




{% endblock %}