<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Indata Consultancy Services" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Indata Consulting Services </title>

<!-- favicon icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="{{site.theme.link}}/assets/images/favicons/site.webmanifest">

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/bootstrap.min.css"/>

<!-- animate -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/animate.css"/>

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/owl.carousel.css">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/font-awesome.css"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/themify-icons.css"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/flaticon.css"/>


<!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/revolution/css/rs6.css">

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/prettyPhoto.css">

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/shortcodes.css"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/main.css"/>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/assets/css/responsive.css"/>

<link rel="stylesheet" type="text/css" href="{{site.theme.link}}/style.css"/>


    {{function('wp_head')}}
