{% extends "base.twig" %}

{% block content %}
	<!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box text-center">
                            <div class="page-title-heading">
                                <h1 class="title"> {{posts.name}}</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{{site.url}}"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
                                <span> {{posts.name}}</span>
                            </div>  
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->

        <!--site-main start-->
        <div class="site-main">

            <!-- project-single-section -->
            <section class="ttm-row project-single-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-6 col-xl-8">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{{TimberImage(posts.featured_image).src}}" title="single-img-twenty" alt="single-img-twenty">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>
                        <div class="col-lg-6 col-xl-4">
                            <div class="ttm-pf-single-detail-box mb-35">
                                <div class="ttm-pf-single-title">
                                    <h5>Blog Info</h5>
                                </div>
                                <p>{{posts.post_excerpt}}</p>
                                <ul class="ttm-pf-detailbox-list">
                                   <li><i class="fa fa-user"></i><span> Client : </span>{{posts.author}}</li>
                                   <li><i class="fa fa-calendar"></i><span> Date :  </span>6 June 19</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- row end-->
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-8">
                            <p>{{posts.get_content}}</p>
                        </div>
                        <div class="col-lg-4 widget-area">
                       
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest Blogs</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                {% for rblog in blogs %}
                                <li>
                                    <a href="{{rblog.post_name}}"><img src="{{TimberImage(rblog.featured_image).src}}" alt="post-img"></a>
                                    <a href="{{posts.slug}}">{{rblog.post_title}}</a>
                                    <span class="post-date"><i class="fa fa-calendar"></i>{{rblog.post_date}}</span>
                                </li>
                            {% endfor %}
                               {#  <li>
                                    <a href="single-blog.html"><img src="images/blog/02.jpg" alt="post-img"></a>
                                    <a href="single-blog.html">You Must Try 20 Secret Of Digital Transform</a>
                                    <span class="post-date"><i class="fa fa-calendar"></i>May 03, 2019</span>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/03.jpg" alt="post-img"></a>
                                    <a href="single-blog.html">10 PHP Frameworks You Need To Use Anywhere</a>
                                    <span class="post-date"><i class="fa fa-calendar"></i>May 05, 2019</span>
                                </li> #}
                            </ul>
                        </aside>
                        </div>
                   </div>
               </div>
            </section>
            <!-- project-single-section end -->

        </div><!--site-main end-->

{% endblock %}
